# Python & UV
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Vector Database 
chroma_db/

# Environment Variables
.env

# OS / IDE Files
.DS_Store
.vscode/
.idea/

# Streamlit specific
.streamlit/secrets.toml